<h2>Search for books to add to {{ booklist.title }}</h2>

<form id="book-search" class="d-flex flex-grow-1 me-2"
      role="search" data-listid="{{ booklist.id }}">
    <input id="book-search-term" name="term" class="form-control me-1"
           type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div id="search-results-display" style="display: none;">
    <h3>Results for: <span id="search-text"></span></h3>
    <div id="search-results">
        <!-- results go here! -->
    </div>
    <div id="search-results-count" class="mt-3">
        Loaded # of # total results
    </div>
    <button type="button" class="btn btn-primary mt-3">
        Load More Results! <!-- TODO -->
    </button>
</div>
