<div class="card">
    <div class="card-body">
        <h2 class="card-title"><a href="/books/{{ book.olid }}" class="link-dark link-title">{{ book.title }}</a></h2>
        <h5 class="card-subtitle">by {{ book.author }}</h5>
        
        {% if book.cover_url is not none and book.cover_url|length > 0 %}
            <img class="my-3" src="{{ book.cover_url }}-M.jpg" alt="cover"/>
        {% else %}
            <!-- <span class="cover-text fa-5x my-3 text-primary"><i class="fa-solid fa-book-bookmark"></i></span> -->
            <img class="my-3" src="/static/images/blank_cover-M.webp" alt="cover">
        {% endif %}
    </div>

    <ul class="list-group list-group-flush">
        <!-- <h4 class="mx-3 my-1">External Links</h4> -->
        <li class="list-group-item">
            <div class="d-grid gap-2 col-10 mx-auto">
                <a href="#" id="toggle-{{book.olid}}" 
                        class="btn btn-primary dropdown-toggle ml-1"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Add to List
                    </a>
                    {% include '/booklists/_booklist-dropdown.html' %}
            </div>
        </li>

    {% if links is defined %}
        {% if links.get('read_url') is not none  %}
            <li class="list-group-item">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <a href="{{ links.get('read_url') }}" class="btn btn-success" target="_blank">Read this book</a>
                </div>
            </li>
        {% endif %}

        {% if links.get('borrow_url') is not none %}
            <li class="list-group-item ">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <a href="{{ links.get('borrow_url') }}" class="btn btn-primary" target="_blank">Borrow this book</a>
                </div>
            </li>
        {% endif %}
        
        <li class="list-group-item">
            <div class="d-grid gap-2 col-10 mx-auto">
            {% if links.get('ol_url') is not none %}
                <a href="{{ links.get('ol_url') }}" class="btn btn-secondary" target="_blank">View on OpenLibrary.org</a>
            {% else %}
                <a href="https://openlibrary.org/works/{{book.olid}}" class="btn btn-secondary" target="_blank">View on OpenLibrary.org</a>
            {% endif %}
            </div>
        </li>
    {% else %}
        <li class="list-group-item">
            <div class="d-grid gap-2 col-10 mx-auto">
                <a href="https://openlibrary.org/works/{{book.olid}}" class="btn btn-secondary" target="_blank">View on OpenLibrary.org</a>
            </div>
        </li>
    {% endif %}
    </ul>

    <div class="card-body">
        {% if lists is not none and lists|length > 0 %}
            <h4>In your lists:</h4>
            <ul>
                {% for booklist in lists %}
                    <li><a href="/lists/{{ booklist.id }}">{{ booklist.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>