{% extends 'base.html' %}

{% block body_class %}trending{% endblock %}

{% block content %}

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Trending Now
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div id="trending-recent" class="accordion-body row justify-content-md-center">
        {% include '/search/_search-loading.html' %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What's Popular
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div id="trending-popular" class="accordion-body row justify-content-md-center">
        {% include '/search/_search-loading.html' %}
      </div>
    </div>
  </div>

  <!-- <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Newly Added
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div id="trending-new" class="accordion-body row justify-content-md-center">
        {% include '/search/_search-loading.html' %}
      </div>
    </div>
  </div> -->
</div>

{% endblock %}