{% extends 'split-base.html' %}

{% block title %}Create Note{% endblock %}

{% block left %}
<div class="card">
  <div class="card-body">
      <h2 class="card-title"><a href="https://openlibrary.org/works/{{ book_preview.olid }}" class="link-dark link-title" target="_blank">{{ book_preview.get('title') }}</a></h2>
      <h5 class="card-subtitle">by {{ book_preview.get('authors', ['Unknown'])[0] }}</h5>
      
      {% if book_preview.cover_url is not none and book_preview.cover_url|length > 0 %}
          <img class="my-3" src="{{ book_preview.cover_url }}-M.jpg" alt="cover"/>
      {% else %}
          <!-- <span class="cover-text fa-5x my-3 text-primary"><i class="fa-solid fa-book-bookmark"></i></span> -->
          <img class="my-3" src="/static/images/blank_cover-M.webp" alt="cover">
      {% endif %}
  </div>
</div>
{% endblock %}

{% block right %}
<h2>Create a note!</h2>
<div class="col-md-9 col-lg-7">

  <form method="POST" id="note_form">
    {% include '_form.html' %}

    <button class="btn btn-primary btn-block mt-3">Create Note</button>
  </form>
</div>
{% endblock %}
