{% extends 'split-base.html' %}

{% block title %}Edit note for {{ note.book.title }}{% endblock %}

{% set book = note.book %}
{% block left %}
    {% include '/books/_book-view.html' %}
{% endblock %}

{% block right %}
<h2>Edit note for {{ note.book.title }}</h2>
<div class="col-md-9 col-lg-7">

    <form method="POST" id="note_form">
      {% include '_form.html' %}

      <button class="btn btn-primary mt-3">Edit Note</button>
      <button class="btn btn-outline-danger mt-3"
              formaction="/notes/{{ note.id }}/delete">Delete</button> <!-- Confirmation TODO -->
    </form>
</div>
{% endblock %}
