{% extends 'base.html' %}

{% block body_class %}note{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2>Edit {{ note.title }}</h2>

      <form method="POST" id="note_form">
        {% include '_form.html' %}

        <button class="btn btn-primary mt-3">Edit Note</button>
        <button class="btn btn-outline-danger mt-3"
                formaction="/notes/{{ note.id }}/delete">Delete</button> <!-- Confirmation TODO -->
      </form>
    </div>
  </div>

{% endblock %}