{% extends 'base.html' %}

{% block body_class %}search{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-8">
        <h2>Showing {{ results.num_returned }} of {{ results.total }} results for "{{ term }}"</h2>
        <ul>
            {% for w in results.works %}
                <li>
                    <img src="{{ w.cover_url }}" alt="{{ w.title }}"/>
                    {% if w.book_url|length > 0 %}
                        <a href="{{ w.book_url }}" target="_blank">{{ w.title }}</a> by {{ w.author_name }}
                    {% else %}
                        {{ w.title }} by {{ w.author_name }}
                    {% endif %}
                    <a href="#" class="btn btn-primary">Add to List</a>
                </li>
            {% endfor%}
        </ul>
    </div>
</div>

{% endblock %}