{% extends 'base.html' %}

{% block body_class %}profile{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2>Edit Profile</h2>

      <form method="POST" id="note_form">
        {% include '_form.html' %}

        <button class="btn btn-primary mt-3">Edit Profile</button>
        <button class="btn btn-outline-danger mt-3"
        formaction="/profile/delete">Delete Account</button> <!-- Confirmation TODO -->
      </form>
    </div>
  </div>

{% endblock %}