{% extends 'base.html' %}

{% block body_class %}profile{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="welcome">Welcome {{ g.user.username }}!
            {% if user_id == g.user.id %}
                <a class="btn btn-outline-primary btn-sm mb-2" href="/profile/edit">Edit</a>
            {% endif %}
        </h2>
            <!-- <form>
                <button class="btn btn-primary btn-sm"
                        formaction="/profile/edit">Edit Profile</button>
            </form> -->
        
        <h3>Your Lists!</h3>
        {% if g.user.lists|length > 0 %}
            <ul>
                {% for booklist in g.user.lists %}
                    <li><a href="/lists/{{ booklist.id }}">{{ booklist.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h5>You don't have any lists <i class="fa-solid fa-face-frown-open"></i></h5>
        {% endif%}
        <a href="/lists/create" class="btn btn-primary">Create a list</a>

        <h3>Your Notes!</h3>
        {% if g.user.notes|length > 0 %}
            <ul>
                {% for note in g.user.notes %}
                    <li><a href="/notes/{{ note.id }}">{{ note.book.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h5>You don't have any notes <i class="fa-solid fa-face-frown-open"></i></h5>
        {% endif%}
        <a href="/notes/create" class="btn btn-primary">Create a note</a>
    </div>
</div>

{% endblock %}