{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message">Join today!</h2>
    <form method="POST" id="user_form">
      {% include '_form.html' %}

      <div class='form-group mt-3'>
        <button class="btn btn-primary btn-block">Sign up!</button>
        or
        <a href="/login" class="link-primary">Log in</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}